@tailwind base;
@tailwind components;
@tailwind utilities;

.header-container {
    display: flex;
    justify-content: space-between;
}
.cows-icon {
    height: 50px;
    width: 60px;
}
.footer {
    background-color: #041933;
    padding-right: 5px;
    display: flex;
    color: #cdd8d9;
    margin: 10px !important;
    margin-right: 18px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    width: auto;
    border-radius: 10px;
}

.footer-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btm-nav-label {
    font-size: 7px;
}
.footer-ordernow {
    height: 70px;
    background-color: #2c3f56;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 18px;
    width: 150px;
    height: 250px;
}

.home-layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img {
    width: 150px;
    height: 100px;
}

.card-name1 {
    background-color: #0d2e6a;
    color: white;
    font-size: 20px;
    text-align: center;
    height: 60px;
    width: 80;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-name2 {
    background-color: #0d2e6a;
    color: white;
    font-size: 20px;
    text-align: center;
    height: 80px;
    width: 80;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cows-logo {
    height: 40px;
    width: 70px;
}
.product-landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.product-details {
    display: flex;
    justify-content: space-between;
    background-color: #0d2e6a;
    color: white;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    padding: 10px;
}
.cart-container {
    display: flex;
}
.cart-content{
    background-color: #0d2e6a;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: auto;
}
@media screen and (min-width:768px) {
    .home-layout {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .footer {

        background-color: #041933;
        display: none;
        color: #cdd8d9;
        margin: 10px;
        border-radius: 10px;
        width: auto;
    }
    .product-details {
        display: flex;
        justify-content: space-between;
        background-color: #0d2e6a;
        color: white;
        border-radius: 10px;
        margin: 10px;
        width: 700px;
        padding: 10px;
    }
}